* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-500: #FF57B2;
  --white-100: #f8f8f8;
  --black-700: #1a1d23;
  --gray-400: #bbb;
  --gray-200: #d7d7d7;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--black-700);
  color: var(--white-100);
}

body, input, textarea, select, button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
